<form class="form-inline">
    <div class="form-group">
        <div class="input-group">
            <input class="form-control"
                   placeholder="yyyy-mm-dd"
                   name="dp"
                   [(ngModel)]="startTime"
                   (click)="dp.toggle()"
                   ngbDatepicker
                   [minDate]="endTime"
                   #dp="ngbDatepicker">
            <span class="input-group-addon">-</span>

            <!--<ngb-datepicker [(ngModel)]="endTime"  [disabled]="disabled"></ngb-datepicker>-->

            <input class="form-control"
                   placeholder="yyyy-mm-dd"
                   name="dp2"
                   [(ngModel)]="endTime"
                   (click)="d.toggle()"
                   ngbDatepicker
                   #d="ngbDatepicker">
        </div>
    </div>

    <div ngbDropdown class="d-inline-block">
        <button class="btn btn-secondary" id="dropdownMenu1" ngbDropdownToggle>全部订单</button>

        <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <button class="dropdown-item">Action - 1</button>
            <button class="dropdown-item">Another Action</button>
            <button class="dropdown-item">Something else is here</button>
        </div>

    </div>

    <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownMenu2" ngbDropdownToggle>省份</button>

        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <button class="dropdown-item">Action - 1</button>
            <button class="dropdown-item">Another Action</button>
            <button class="dropdown-item">Something else is here</button>
        </div>

    </div>

    <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownMenu3" ngbDropdownToggle>打印状态</button>

        <div class="dropdown-menu" aria-labelledby="dropdownMenu3">
            <button class="dropdown-item">Action - 1</button>
            <button class="dropdown-item">Another Action</button>
            <button class="dropdown-item">Something else is here</button>
        </div>

    </div>

    <button class="btn btn-primary">查询</button>

</form>
